---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const projects = await getAllProjects()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <h1>About Me</h1>
        <p class="mt-0">
            I’m a software developer and data scientist who gets a weird thrill out of solving tricky problems and turning abstract ideas into real things. I spend a lot of time building scalable apps, digging through data for insights, and occasionally arguing with LeetCode problems just to keep my brain from getting lazy. Learning new tech is basically my cardio.
        </p>
        <p>
            I’m also embarking on my art journey—full disclosure: I’m terrible right now, but that’s part of the fun. Digital illustration is my current obsession, and I love experimenting, making mistakes, and seeing how far I can push my (slowly improving) skills. Watching progress happen one doodle at a time is surprisingly satisfying.
        </p>
        <p>
            Outside of coding and drawing, I live for music and gaming. You’ll usually find me jamming to albums or in the middle of a CS2 match or a Planetside 2 battle, trying not to get obliterated. These are my ways of relaxing, recharging, and stealing inspiration for my next project. Life’s about learning, having fun, and trying new things, and I try to cram a little of that into every day.
        </p>
      </div>

      <!-- <h2 class="mb-4 text-2xl font-medium">Example Projects Listing</h2> -->
      <!-- <div class="flex flex-col gap-4">
        {projects.map((project) => <ProjectCard project={project} />)}
      </div> -->
    </div>
  </section>
</Layout>
